*.iml
.gradle/
local.properties
.idea/
.DS_Store
build/
captures/
pxerstudiopremiumkey/
app/libs/
libs/
*.apk
app/debug/
app/release/
app/google-services.json
app/src/main/java/com/benny/pxerstudio/util/AdHelper.java
